::-moz-selection { /* Code for Firefox */
    color: #A3FF75;
    background: inherit;
}

::selection {
    color: #A3FF75;
    background: inherit;
}

body {
   margin: 0;
   padding: 0;
}

/* loginForm: */
#nameForm {
	text-align: center;
}
#nameForm .input-group {
	width: 50%;
	margin: 0 auto;
	padding: 1%;
}
#nameForm .input-group button {
	width: 100%;
}
#nameForm .input-group input {
	text-align: center;
}
#nameForm .alert {
	width: 48%;
	margin: 0 auto;
}

/* game answer: */
#theQuestion .input-group {
	width: 100%;
}

/* adminPanel: 
#gameStarted table {
	width: 100%;
}
#gameStarted table tr {
}
#gameStarted table td {
	border: 1px solid black;
}*/