<h1> HI ADMIN </h1>

<div id="chooseQuestions" ng-hide="selectedList[0]">
	<p> mensen connected (max 30): </p>
	<div class="progress">
	  <div class="progress-bar progress-bar-striped active"  role="progressbar" style="width: {{(playerList.length-1)/maxConnected*100}}%;">
		{{playerList.length -1 }}
	  </div>
	</div>

	<form ng-submit="submitQuestions()" id="questionList">
	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading">Vragenlijst</div>
	  <div class="panel-body">
		<p>Kies een aantal vragen uit de onderstaande lijst..</p>
	  </div>
	  
		
		<div class="row">
		  <div class="col-lg-12">
			
			<div ng-repeat="question in questionList" class="input-group" id="check{{$index+1}}" onclick="check(this.id)">
			  <span class="input-group-addon">
				<input id="question{{$index+1}}" type="checkbox">
			  </span>
			  <span class="form-control">
				{{$index + 1}}. {{question.question}}
			  </span>
			</div><!-- /input-group -->
			
		  </div><!-- /.col-lg-12 -->
		</div><!-- /.row -->
	</div>
	<button type="submit" class="btn btn-info">Start de quiz!</button>
	</form>
	<div class="alert alert-danger" ng-show="error">
		{{message}}
	</div>
</div>

<div id="gameStarted" ng-show="selectedList[0]">
	<h3> vragen geselecteerd: </h3>
	<div class="row">
	  <div class="col-lg-12">
		
		<div ng-repeat="question in selectedList" class="input-group">
		  <span class="input-group-addon">
			{{question.id}}
		  </span>
		  <span class="form-control">
			{{question.question}}
		  </span>
		</div><!-- /input-group -->
		
	  </div><!-- /.col-lg-12 -->
	</div><!-- /.row -->
	
	<h3> antwoorden: </h3>
	<div class="table-responsive">
		<table class="table">
			<tr>
				<th style="width: {{100/(selectedList.length + 1)}}%"> Naam </th>
				<th style="width: {{100/(selectedList.length + 1)}}%" ng-repeat="question in selectedList">{{question.id}}</th>
			</tr>
			<tr ng-repeat="player in playerList track by $index" ng-hide="$first"> <!-- hide first player because its the admin -->
				<td><b>{{player.name}}</b></td>
				<td ng-repeat="question in selectedList" id="{{player.id + question.id}}"></td>
			</tr>
		</table>
	</div>
</div>