<h1> Hi {{player.name}}<span ng-hide="questionList[0]">, wacht nog even op de vragen..</span> </h1>
<div class="row">
	
	<div ng-show="questionList[0]" id="theQuestion">
		
		<div class="col-lg-12">
			<div class="progress">
			  <div class="progress-bar"  role="progressbar" style="width: {{timeLeft/questionTime*100}}%;">
				{{ timeLeft }}
			  </div>
			</div>
			
			<div class="input-group">
				<span> Vraag: </span>
			</div>
			<div class="input-group">
			  <span class="input-group-addon">
				{{question}}.
			  </span>
			  <span class="form-control">
				{{questionList[question -1].question}}
			  </span>
			</div>
			
			<div class="input-group">
				<span> Antwoord: </span>
			</div>
			<form ng-submit="answerQuestion()">
				<div class="input-group">
					<input id="theAnswer" class="form-control" ng-model="answer" type="text"> <!-- ID is important! -->
				</div>
			</form>
		</div><!-- /.col-lg-12 -->
	</div>
</div><!-- /.row -->