<h1>Quiz van les {{lesNummer}}</h1>

<div ng-switch on="view">
    <div ng-switch-when="spelersKamer">
      <h3>Spelers in de kamer</h3>
      <div class="alert alert-danger" ng-hide="spelers[0]">
        Er zijn nog geen spelers ingelogd
      </div>

        <div ng-repeat="speler in spelers" class="input-group">
          <span class="input-group-addon" >
            {{$index + 1 }}
          </span>
          <span class="form-control">
              {{speler.naam}}
          </span>
        </div>

      <br>
      <button class="btn btn-primary" ng-click="startQuiz()"> Start de quiz! <i class="fa fa-arrow-right fa-lg"></i> </button>
    </div>

    <div ng-switch-when="vraag">
      <div class="panel panel-default">
        <div class="panel-heading">Vraag nr. ?</div>
        <div class="panel-body">
          <p>{{vraag.vraag}}</p>
        </div>
        <div style="cursor: auto">
        <p> Antwoorden: </p>
            <div class="input-group">
              <span class="input-group-addon" > A </span>
              <span class="form-control">{{vraag.antwoorden.A}}</span>
            </div>
            <div class="input-group">
              <span class="input-group-addon" > B </span>
              <span class="form-control">{{vraag.antwoorden.B}}</span>
            </div>
            <div class="input-group">
              <span class="input-group-addon" > C </span>
              <span class="form-control">{{vraag.antwoorden.C}}</span>
            </div>
            <div class="input-group">
              <span class="input-group-addon" > D </span>
              <span class="form-control">{{vraag.antwoorden.D}}</span>
            </div>

            <div class="panel-footer">
              <button ng-click="volgendeVraag()" class="btn btn-success">Start volgende vraag</button>
            </div>
          </div>
      </div>
	  </div>


  	<div ng-switch-when = "eindeQuiz">
  		<h3>Eindstand</h3>
        <table class="table">
          <tr>
            <th> Naam </th>
            <th> Score </th>
          </tr>
          <tr ng-repeat="speler in spelers | orderBy:'score':reverse">
            <td> {{speler.naam}} </td>
            <td> {{speler.score}} </td>
          </tr>
        </table>
  	</div>
</div>
