<h1>Quiz van les {{lesNummer}}</h1>

<div ng-switch on="view">
    <div ng-switch-when="spelersKamer">
      <h3>Spelers in de kamer</h3>
      <div class="alert alert-danger" ng-hide="spelers[0]">
        Er zijn nog geen spelers ingelogd
      </div>

        <div ng-repeat="speler in spelers" class="input-group">
          <span class="input-group-addon" >
            {{$index + 1 }}
          </span>
          <span class="form-control">
              {{speler.naam}}
          </span>
        </div>

      <br>
      <button class="btn btn-primary" ng-disabled="!spelers[0]" ng-click="startQuiz()"> Start de quiz! <i class="fa fa-arrow-right fa-lg"></i> </button>
    </div>

    <div ng-switch-when="vraag">

      <div class="progress">
        <div class="progress-bar"  role="progressbar" style="width: {{timeLeft/timer*100}}%;">
        {{timeLeft}}
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Vraag nr. ?</div>
        <div class="panel-body">
          <p>{{vraag.vraag}}</p>
        </div>
        <div style="cursor: auto">

          <p> Opties: </p>
            <div class="input-group">
              <span class="input-group-addon" > A </span>
              <span class="form-control">{{vraag.opties.A}}</span>
            </div>
            <div class="input-group">
              <span class="input-group-addon" > B </span>
              <span class="form-control">{{vraag.opties.B}}</span>
            </div>
            <div class="input-group">
              <span class="input-group-addon" > C </span>
              <span class="form-control">{{vraag.opties.C}}</span>
            </div>
            <div class="input-group">
              <span class="input-group-addon" > D </span>
              <span class="form-control">{{vraag.opties.D}}</span>
            </div>

        <p> Gegeven antwoorden: </p>
            <div class="progress">
              <div class="progress-bar" ng-class="vraagKleur('A')" role="progressbar" style="width: {{(vraag.antwoorden.A/spelers.length*95) + 5}}%;">
                A: {{vraag.antwoorden.A}}x
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar" ng-class="vraagKleur('B')" role="progressbar" style="width: {{(vraag.antwoorden.B/spelers.length*95) + 5}}%;">
                B: {{vraag.antwoorden.B}}x
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar" ng-class="vraagKleur('C')" role="progressbar" style="width: {{(vraag.antwoorden.C/spelers.length*95) + 5}}%;">
                C: {{vraag.antwoorden.C}}x
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar" ng-class="vraagKleur('D')" role="progressbar" style="width: {{(vraag.antwoorden.D/spelers.length*95) + 5}}%;">
                D: {{vraag.antwoorden.D}}x
              </div>
            </div>

            <div class="panel-footer">
              <button class="btn btn-success" ng-disabled="!volgendeVraagButton" ng-click="volgendeVraag()">Start volgende vraag</button>
            </div>
          </div>
      </div>
	  </div>


  	<div ng-switch-when = "stand">
  		<h3>{{stand}}</h3>
        <table class="table">
          <tr>
            <th> Naam </th>
            <th> Score </th>
          </tr>
          <tr ng-repeat="speler in spelers | orderBy:'score':reverse=true">
            <td> {{speler.naam}} </td>
            <td> {{speler.score}} </td>
          </tr>
        </table>
        <button class="btn btn-success" ng-click="eindigQuiz()">Eindig quiz</button>
  	</div>
</div>
