<div class="col-lg-3">
</div>
<div class="col-lg-6">
  <div id="nameForm">
  <h2>What's your name?</h2>
  <form ng-init="docent" class="simple-form">
    <div class="input-group">
		<input class="form-control" type="text" ng-model="docent.naam" placeholder="docent naam">
	  </div>
    <div class="input-group">
    <input class="form-control" type="password" ng-model="docent.wachtwoord" placeholder="wachtwoord">
    </div>
	  <div class="input-group">
		<button type="submit" ng-click="gaVerder(docent)" class="btn btn-info" ng-disabled="docent.naam.length==0">Login</button>
	  </div>
  </form>

  <div class="alert alert-danger" ng-show="message">
    {{message}}
   </div>
</div>
<div class="col-lg-3">
</div>
